{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 100%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id=""><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Daftar Laporan</h1>
    <div>&nbsp;</div>
    <table class="table table-striped">
        <tbody>
          {% for laporan in laporans %}
          {% set laporan_id = laporan.key.id() %}
          {% set author_id = laporan.user.username %}
          {% set auth_id = laporan.user.auth_id %}
          <tr>
            <td class="nowrap">
              <p>
                <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;<a href="{{ url_for('lihat_laporan', laporan_id=laporan_id) }}">{{ laporan.judul }}</a>&nbsp;
                (
                {{ laporan.total_komentar }} komentar,&nbsp;
                {{ laporan.total_likes }} likes,&nbsp;
                {{ laporan.total_dislikes }} dislikes&nbsp;
                )&nbsp;
                {% if user != None and user.key.id() == laporan.author.id() %}
                    &nbsp;<a href="{{ url_for('edit_laporan', laporan_id=laporan_id) }}" alt="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                    &nbsp;<a href="{{ url_for('delete_laporan', laporan_id=laporan_id) }}"><span class="glyphicon glyphicon-remove"></span></a>
                    
                {% endif %}
                <br/>
                <small>
                  by <a href="http://facebook.com/{{ auth_id }}" target="_blank">{{ author_id }}</a>,&nbsp;
                  <i>on {{ laporan.timestamp.strftime('%b %d, %Y %I:%M %p') }}</i>
                </small>
              </p>
            </td>
          </tr>
          {% else %}
          <tr><td colspan="7">Belum ada laporan</td></tr>
          {% endfor %}
        </tbody>
   </table>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="controls">
                        <a href="{{ url_for('tulis_laporan') }}"><button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Tulis Laporan</button></a>
                    </div>
                </div>
{% endblock content %}


