{% extends "base.html" %}

{% block content %}
    <style>
      #judul {  width: 50%; }
      #deskripsi {  width: 50%; height: 150px }
    </style>
    <h3><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Ubah Laporan</h3>
    <form id="edit-laporan" class="well"
          action="{{ url_for('edit_laporan', laporan_id=laporan.key.id()) }}" method="post" accept-charset="utf-8">
        <fieldset>
            {{ form.hidden_tag() }}
            <input type="hidden" name="mode" value="edit" />
            <div class="control-group">
                <div class="control-label">{{ form.judul.label }}</div>
                <div class="controls">
                    {{ form.judul|safe }}
                    {% if form.judul.errors %}
                        <ul class="errors">
                            {% for error in form.judul.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="control-group">
                <div class="control-label">{{ form.deskripsi.label }}</div>
                <div class="controls">
                    {{ form.deskripsi|safe }}
                    {% if form.deskripsi.errors %}
                        <ul class="errors">
                            {% for error in form.deskripsi.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Save Changes"/>
                    <a class="btn cancel" href="{{ url_for('lihat_laporan', laporan_id=laporan.key.id()) }}">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock content %}
