{% extends "base.html" %}

{% block content %}
    <style>
      #deskripsi {  width: 50%; height: 50px }
    </style>

    <h2>{{ laporan.judul }}</h3>
    <p>
                (
                {{ laporan.total_komentar }} komentar,&nbsp;
                {{ laporan.total_likes }} likes,&nbsp;
                {{ laporan.total_dislikes }} dislikes&nbsp;
                )&nbsp;

                <small>
                  by <a href="http://facebook.com/{{ laporan.user.auth_id }}" target="_blank">{{ laporan.user.username }}</a>,&nbsp;
                  <i>on {{ laporan.timestamp.strftime('%b %d, %Y %I:%M %p') }}</i>
                  {% if user != None and user.key.id() == laporan.author.id() %}
                    &nbsp;<a href="{{ url_for('edit_laporan', laporan_id=laporan.key.id()) }}" alt="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                    &nbsp;<a href="{{ url_for('delete_laporan', laporan_id=laporan.key.id()) }}"><span class="glyphicon glyphicon-remove"></span></a>
                  {% endif %}
                </small>
    </p><br/>
    <p>{{ laporan.deskripsi }}</p>
    <hr/>
    {% if user != 1 %}
        <div>
          {% if laporan.my_likes > 0 %}
          {% set class_likes = "btn btn-default disabled" %}
          {% else %}
          {% set class_likes = "btn btn-success" %}
          {% endif %}

          {% if laporan.my_dislikes > 0 %}
          {% set class_dislikes = "btn btn-default disabled" %}
          {% else %}
          {% set class_dislikes = "btn btn-danger" %}
          {% endif %}


          <a href="{{ url_for('likes_yes', laporan_id=laporan.key.id()) }}" class="{{ class_likes }}"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Like</a>
          <a href="{{ url_for('dislikes_yes', laporan_id=laporan.key.id()) }}" class="{{ class_dislikes }}"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;Dislike</a>
        </div>
        <div>&nbsp;</div>

        <form id="tulis-komentar-form" class="well"
            action="{{ url_for('tulis_komentar', laporan_id=laporan.key.id()) }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form_komentar.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label"><span class="glyphicon glyphicon-comment"></span>&nbsp;Pendapat Anda:</div>
                    <div class="controls">
                        {{ form_komentar.deskripsi|safe }}
                        {% if form_komentar.deskripsi.errors %}
                        <ul class="errors">
                            {% for error in form_komentar.deskripsi.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Submit"/>
                    </div>
                </div>
            </fieldset>
        </form>
  <br/>
 {% endif %}
    <span class="glyphicon glyphicon-comment"></span>&nbsp;Pendapat Publik:
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <tbody>
          {% for komentar in komentars %}
          {% set komentar_id = komentar.key.id() %}
          {% set komentar_author_id = komentar.user.username %}
          {% set komentar_auth_id = komentar.user.auth_id %}
          <tr>
            <td width="40px">
                  <img src="{{ komentar.user.avatar_url_size(40) }}" style="align:left"/>
            </td>
            <td>
              <p>
                <small>
                  <a href="http://facebook.com/{{ komentar_auth_id }}">{{ komentar_author_id }}</a>&nbsp;wrote
                  <i>on {{ komentar.timestamp.strftime('%b %d, %Y %I:%M %p') }}</i>:
                </small><br/>
                {{ komentar.deskripsi }}
                {% if user != None and user.key.id() == komentar.author.id() %}
                    &nbsp;[
                    &nbsp;<a href="{{ url_for('delete_komentar', komentar_id=komentar.key.id()) }}"><span class="glyphicon glyphicon-remove"></span></a>
                    ]
                {% endif %}

              </p>
            </td>
          </tr>
          {% else %}
          <tr><td colspan="7">Belum ada komentar</td></tr>
          {% endfor %}
        </tbody>
   </table>
{% endblock content %}
