{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 80%; }
    </style>
{% endblock %}

{% block content %}
    <style>
      #judul {  width: 50%; }
      #deskripsi {  width: 50%; height: 150px }
    </style>
    <h1 id=""><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Tulis Laporan</h1>
    <div>&nbsp;</div>

        <form id="tulis-laporan-form" class="well"
            action="{{ url_for('tulis_laporan') }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label">{{ form.judul.label }}</div>
                    <div class="controls">
                        {{ form.judul|safe }}
                        {% if form.judul.errors %}
                        <ul class="errors">
                            {% for error in form.judul.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.deskripsi.label }}</div>
                    <div class="controls">
                        {{ form.deskripsi|safe }}
                        {% if form.deskripsi.errors %}
                        <ul class="errors">
                            {% for error in form.deskripsi.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Submit"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>

{% endblock content %}
{% block tail_script %}
    <script>
        var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var judul = form.find('#judul').val();
                var deskrpsi = form.find('#deskripsi').val();
                if (!(judul)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#judul', 'Judul is required', 'right');
                }
                if (!(deskripsi)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#deskripsi', 'Deskripsi is required', 'right');
                }
            },
            init: function () {
                var self = this;
                var laporan_form = $('#tulis-laporan-form');
                laporan_form.on('submit', function (evt) {
                    self.validate(laporan_form, evt)
                });
            }
        };
        $(document).ready(function() {
            FormHelpers.init();
        });
    </script>
{% endblock tail_script %}
